In [1]:
import tweepy
import json
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Initialize Sentiment Analyzer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [2]:
# Twitter API Keys
consumer_key = "7FdSE6Snr8E7ofgmm3z2azhfy"
consumer_secret = "IA8opdrpYqLMgMzyFGTHLQEyYIFQEmJvFO1deDLhXfgsUhTXKw"
access_token = "937017781572087808-kBaZmSm0aTBKXiyP4eRYifHw5gwMaYn"
access_token_secret = "tDYO0z6Y6XIg2M6OPD3yFeKzvouyh3IZuwALUVlexsWMu"

In [31]:
# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [41]:
targets_list=("@BBCNews","@CBSNews","@CNN","@FoxNews","@nytimes")
data=[]
oldest_tweet=""

In [42]:
for target in targets_list:

    public_tweets = api.user_timeline(target,count=100,result_type="recent", max_id=oldest_tweet)
    counter=0
    
    for tweet in public_tweets:
        counter+=1
        compound = analyzer.polarity_scores(tweet["text"])["compound"]
        pos = analyzer.polarity_scores(tweet["text"])["pos"]
        neu = analyzer.polarity_scores(tweet["text"])["neu"]
        neg = analyzer.polarity_scores(tweet["text"])["neg"]

In [43]:
data.append({"Source": tweet["user"]["screen_name"],"Tweet": tweet["text"],"Date": tweet["created_at"], "Compound": compound,
 "Positive": pos, "Negative": neg, "Neutral": neu, "count": counter})

In [44]:
# Convert data to DataFrame
data_df= pd.DataFrame.from_dict(data)
data_df.head(500)

,Compound,Date,Negative,Neutral,Positive,Source,Tweet,count
0,-0.3612,Wed Dec 13 14:51:06 +0000 2017,0.122,0.878,0.0,nytimes,A man convicted of child sex offenses was turn...,0